<h1>GROUND FLOOR RESERVE / EXIT</h1>

<span>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile *ngFor="let slot of slots; let i=index">
        <mat-card>
            <mat-card-title> Slot no: {{i + 1}}</mat-card-title>
            <mat-card-actions>
              <button *ngIf="slot" class="reserve" mat-button (click)="onReserve(i)">RESERVE</button>
              <button *ngIf="!slot" class="exit" mat-button (click)="onExit(i)">EXIT</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</span>

<p-dialog header="Title" [(visible)]="display" [style]="{width: '50vw'}">
  Name: <input #name type="text" (keyup)="keyup(name.value)">
  Vehicle Number: <input #vehicle type="text" (keyup)="keyupVehicle(vehicle.value)">
  <button (click)="reserveDone()">Done</button>
</p-dialog>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>